{% extends "ProyectofinalApp/base.html" %}

{% load static %}

{% block content %}

	{% for post in posts %}


	<section class="page-section clearfix">
		<div class="container">
            <div>
                <a href="posts.html">
                    <img src="{{post.imagen}}" alt="" class="agent-avatar img-fluid">
                </a>
            </div>
		</div>
	</section>



	{% endfor %}

<section>

	<div style="width: 75%; margin: auto; text-align: center; color: white;">

		Categorias: 

		{% for post in posts %}

			{% for categoria in post.categorias.all %}

				{{categoria.nombre}} &nbsp;&nbsp;&nbsp;

			{% endfor %}

		{% endfor %}

	</div>	

</section>

{% endblock %}